$color: #282828;
$color-grey: #7D7D7D;

$content-padding: 1.25rem;
$heading-padding: 1.5rem 1.25rem 1.78rem 1.25rem;

$line-width: 1px;

$line-height: 1.3em;

$large-line-height: 6.6rem;

$font-size: 1.661vw;
$font-size-max: 28px;
$font-size-min: 16px;

$font-size-small: 0.666666rem;
$font-size-large: 2.666666rem;